<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blind Coding: A Coding Club event for APOGEE</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
        <img src="../../static/assets/satLogo.png" id="satLogo">
        <div class="backdrop">
            </div>
            <div class="about">
                <div id="close" onclick="closeAbout()">
                    <span class="horiz"></span>
                    <span class="verti"></span>
                </div>
                <h1>Instructions</h1>
                <h4>1. What is Lorem Ipsum?</h4>
                <h4>2. Where does it come from?</h4>
                
        </div>
    <div class="container">
        <nav id="header">
            <ul>
                    <li onclick="showAbout()">About</li>
                <a href="/login"><li>Login</li></a>
            </ul>
        </nav>
        <div id="content">
            <div class="row">
                <div id="details">
                        <p class="title">Blind Coding</p>
                        <p class="descrip">Ever thought of writing the code without
being able to see the code on screen?<br>
Then what are you waiting for?<br><br>
Login and code without being able to see what you are
typing for the given problem statement in the given timeframe.<br><br> <b>Now that's
coding with a vision, the vision of bat as they say.</b></p>
                    </div>
                <img src="../../static/assets/ninja-coder.png" id="event-logo">
            </div>
            <a href="/login"><button>Login/Signup</button></a>
        </div>
        <div id="footer">
            <p>&copy; Saturnalia Club ,2023</p>
        </div>
    </div>
<!--    <script src="../../static/js/script.js"></script>-->
</body>
</html>